<kt-notice [icon]="'flaticon-warning kt-font-warning'" style="direction: ltr;text-align: left;">
	&nbsp; &nbsp; this forms created By <code>Al3ameed</code>, with all validation and Custom messages required to Preview
</kt-notice>
<div class="row p-3">

	<!--Right Section-->
	<div class="col-6">
		<!--Input Fields-->
		<div class="col-12 p-0 ">
			<kt-portlet>
				<kt-portlet-header [title]="'Input Fields'"> </kt-portlet-header>
				<form class="example-form p-3"  [formGroup]="TestForm" autocomplete="off">
					<!--Basic Input-->
					<mat-form-field class="w-100">
						<mat-label>{{ 'Basic Input'}}</mat-label>
						<input matInput type="text" placeholder="{{ 'Basic Input' }}" />
					</mat-form-field>
					<!--Basic Input-->

					<!--Basic Input with A custom Error Message -->
					<mat-form-field class="w-100">
						<mat-label>{{ 'Input with a custom Error'}}</mat-label>
						<input matInput type="text" placeholder="{{ 'Simple Text' }}" formControlName="text" autocomplete="off"/>
						<mat-error *ngIf="isControlHasError('text','required')">
							<strong>{{ 'Input Field is required'}}</strong>
						</mat-error>
						<mat-error *ngIf="isControlHasError('text','minlength')">
							<strong>{{ 'MIN_LENGTH_FIELD' }} 3</strong>
						</mat-error>
						<mat-error *ngIf="isControlHasError('text','maxlength')">
							<strong>{{ 'MAX_LENGTH_FIELD' }} 320</strong>
						</mat-error>
					</mat-form-field>
					<!--Basic Input with A custom Error Message -->

					<!--TextArea -->
					<mat-form-field class="w-100">
						<textarea matInput placeholder="Leave a comment" rows="4"></textarea>
					</mat-form-field>
					<!--TextArea -->

					<!--input with clear -->
					<mat-form-field  class="w-100">
						<input matInput type="text" placeholder="input with clear" formControlName="clear_text"  #clear_input_Value>
						<button *ngIf="clear_input_Value.value" type="button"  mat-button  matSuffix mat-icon-button (click)="clearValue()">
							<mat-icon>close</mat-icon>
						</button>
					</mat-form-field>
					<!--input with clear -->

					<!--Disabled -->
					<mat-form-field class="w-100">
						<input matInput  disabled value="disabled text">
					</mat-form-field>
					<!--Disabled -->


					<!--Message -->
					<mat-form-field class="w-100">
						<input matInput #message maxlength="56" placeholder="Message">
						<mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
						<mat-hint align="end">{{message.value.length}} / 56</mat-hint>
					</mat-form-field>
					<!--Message -->


					<!--Phone -->
					<mat-form-field class="w-100">
						<span matPrefix>+02 &nbsp;</span>
						<input type="tel" matInput placeholder="Telephone">
						<mat-icon matSuffix>mode_edit</mat-icon>
					</mat-form-field>
					<!--Phone -->

				</form>
			</kt-portlet>
		</div>
		<!--Date Picker-->
		<div class="col-12 p-0">
			<kt-portlet>
				<kt-portlet-header [title]="'Date Fields'"> </kt-portlet-header>
				<form class="example-form p-3"  autocomplete="off">
					<!--Date Picker-->
					<mat-form-field class="w-100">
						<input matInput [matDatepicker]="picker" placeholder="Choose a date">
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
					</mat-form-field>
					<!--Date Picker-->

					<!--Date Picker with Custom Button-->
					<mat-form-field class="col-10 p-0">
						<input matInput [matDatepicker]="picker2" placeholder="Choose a date">
						<mat-datepicker #picker2></mat-datepicker>
					</mat-form-field>
					<button class="col-2" mat-raised-button (click)="picker2.open()">Open</button>
					<!--Date Picker with Custom Button-->
				</form>
			</kt-portlet>
		</div>
	</div>

	<!--Left Section-->
	<div class="col-6">
		<!--Select-->
		<div class="col-12 p-0">
			<kt-portlet>
				<kt-portlet-header [title]="' Select Fields '"> </kt-portlet-header>
				<form class="example-form p-3"  autocomplete="off">
					<!--Simple select -->
					<mat-form-field class="w-100">
						<mat-label>Favorite food</mat-label>
						<mat-select>
							<mat-option *ngFor="let x of [1,2,3,4,5]" [value]="x">
								{{x}}
							</mat-option>
						</mat-select>
					</mat-form-field>
					<!--Simple select -->

					<!-- select with showing selected value -->
					<mat-form-field class="w-100">
						<mat-label>Select and display option</mat-label>
						<mat-select [(value)]="selected">
							<mat-option>None</mat-option>
							<mat-option value="option1">Option 1</mat-option>
							<mat-option value="option2">Option 2</mat-option>
							<mat-option value="option3">Option 3</mat-option>
						</mat-select>
					</mat-form-field>
					<p class="pl-3">You selected: {{selected}}</p>
					<!-- select with showing selected value -->

					<!-- select with showing selected value -->
					<mat-form-field class="w-100">
						<mat-label>Select with groups</mat-label>
						<mat-select>
							<mat-optgroup *ngFor="let group of ['group1' ,'group2']" [label]="group">
								<mat-option *ngFor="let pokemon of ['1','2','3']" [value]="pokemon">
									{{ 'Pokemon: ' +pokemon}}
								</mat-option>
							</mat-optgroup>
						</mat-select>
					</mat-form-field>
					<!-- select with showing selected value -->

					<!-- select with multi options -->
					<mat-form-field class="w-100">
						<mat-select placeholder="Multi Select"  #toppings multiple>
							<mat-select-trigger>
								{{toppings.value ? toppings.value[0] : ''}}
								<span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
							(+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
						  </span>
							</mat-select-trigger>
							<mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
						</mat-select>
					</mat-form-field>
					<!-- select with multi options -->

				</form>
			</kt-portlet>
		</div>
		<!--Radio and CheckBoxes -->
		<div class="col-12 p-0">
			<kt-portlet>
				<kt-portlet-header [title]="'Radio and CheckBoxes'"> </kt-portlet-header>
				<form class="example-form p-3"  autocomplete="off">

					<section class="example-section">
						<mat-checkbox class="p-0" name="checked">&nbsp; Check A</mat-checkbox>
						&nbsp; &nbsp;
						<mat-checkbox class="p-0" name="checked">&nbsp; Check B</mat-checkbox>
						&nbsp; &nbsp;
						<mat-checkbox class="p-0" name="checked">&nbsp; Check C</mat-checkbox>
					</section>
					<hr>
					<section class="example-section p-0">
						<mat-radio-group name="checkRadio"   [(ngModel)]="indeterminate">
							<div class="row">
								<div class="col-6">
									<mat-radio-button class="p-0" value="after">&nbsp; After</mat-radio-button>
								</div>
								<div class="col-6">
									<mat-radio-button class="p-0" value="before">&nbsp; Before</mat-radio-button>
								</div>
							</div>
						</mat-radio-group>
					</section>
					<br>
					<br>
				</form>
			</kt-portlet>
		</div>
		<!--Slider-->
		<div class="col-12 p-0">
			<kt-portlet>
				<kt-portlet-header [title]="'Sliders'"> </kt-portlet-header>
				<form class="example-form p-3"  autocomplete="off">
					<section class="w-100">
						<mat-slider class="w-100"></mat-slider>
					</section>
					<br>
					<section class="w-100">
						<mat-slide-toggle> &nbsp; Slide me!</mat-slide-toggle>
					</section>
				</form>
			</kt-portlet>
		</div>

	</div>


</div>
