<kt-global-notice></kt-global-notice>

<kt-api-loader [isLoadingResults]="isLoadingResults"></kt-api-loader>

<!--<kt-api-loader [isLoadingResults]="isLoadingResults"></kt-api-loader>-->
<div class="row">
	<div class="col-xl-12">
		<div class="row row-full-height" *ngIf="!isLoadingResults">

			<div class="col-12 col-12" aria-label="orders prices">
				<kt-portlet [class]="' kt-portlet--border-bottom-brand p-5'">
					<kt-portlet-body class="pie-container">

						<div class="alert alert-primary text-center font-weight-bold title" role="alert">
							{{ 'STATISTICS.name' | translate }}
						</div>

						<div class="row">

							<div class="col-md-4">
								<div class="dbox dbox--color-1">
									<div class="dbox__icon">
										<i class="fas fa-users"></i>
									</div>
									<div class="dbox__body">
										<span class="dbox__count">
											{{ statistics.visitors_count }}
										</span>
										<span class="dbox__title">
											{{ 'STATISTICS.visitors_count' | translate }}
										</span>
									</div>
								</div>
							</div>

							<div class="col-md-4">
								<div class="dbox dbox--color-2">
									<div class="dbox__icon">
										<i class="{{magazineNews()}} fas"></i>
									</div>
									<div class="dbox__body">
										<span class="dbox__count">
											{{ statistics.news_count }}
										</span>
										<span class="dbox__title">
											{{ 'STATISTICS.news_count' | translate }}
										</span>
									</div>
								</div>
							</div>

							<div class="col-md-4">
								<div class="dbox dbox--color-3">
									<div class="dbox__icon">
										<i class="{{ACTIVITIES()}}"></i>
									</div>
									<div class="dbox__body">
										<span class="dbox__count">
											{{ statistics.activities_count }}
										</span>
										<span class="dbox__title">
											{{ 'STATISTICS.activities_count' | translate }}
										</span>
									</div>
								</div>
							</div>

						</div>

						<div class="row my-3">

							<div class="col-md-4">
								<div class="dbox dbox--color-1">
									<div class="dbox__icon">
										<i class="{{ EVENTS()}} fas"></i>
									</div>
									<div class="dbox__body">
										<span class="dbox__count">
											{{ statistics.events_count }}
										</span>
										<span class="dbox__title">
											{{ 'STATISTICS.events_count' | translate }}
										</span>
									</div>
								</div>
							</div>

							<div class="col-md-4">
								<div class="dbox dbox--color-2">
									<div class="dbox__icon">
										<i class="{{VIDEOS()}}"></i>
									</div>
									<div class="dbox__body">
										<span class="dbox__count">
											{{ statistics.videos_count }}
										</span>
										<span class="dbox__title">
											{{ 'STATISTICS.videos_count' | translate }}
										</span>
									</div>
								</div>
							</div>

							<div class="col-md-4">
								<div class="dbox dbox--color-3">
									<div class="dbox__icon">
										<i class="{{ advisoryBody() }} fas"></i>
									</div>
									<div class="dbox__body">
										<span class="dbox__count">
											{{ statistics.advisory_bodies_count }}
										</span>
										<span class="dbox__title">
											{{ 'STATISTICS.advisory_bodies_count' | translate }}
										</span>
									</div>
								</div>
							</div>

						</div>


					</kt-portlet-body>
				</kt-portlet>


			</div>


		</div>
	</div>
</div>
