<!-- begin:: Header Topbar -->
<div class="kt-header__topbar">

	<div class="d-flex text-right row">
		<div class="col-12 row">

			<!-- Arabic Language Switch -->
			<div class="col-7 d-block align-items-center">
				<mat-form-field class="lang-switch" style="max-width:100% !important;">
					<mat-select [(ngModel)]="lang" (selectionChange)="switchLanguage()" >
						<mat-option [value]="'ar'">  {{ 'MENU.LANG.AR' | translate }} </mat-option>
						<mat-option [value]="'en'"> {{ 'MENU.LANG.EN' | translate }} </mat-option>
					</mat-select>
				</mat-form-field>
			</div>

			<!--profile Button-->
			<div class="col-5 d-flex align-items-center">

				<div class="dropdown w-100">
					<a class="btn btn-secondary dropdown-toggle p-0 px-0 w-100 profile-menu"
					   href="#" role="button" id="dropdownMenuLink"
					   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

						<div class="row d-flex justify-content-around">
							<div class="d-flex">
								<span class="abbreviation">
									<span>{{ generateNameAbbreviation() | uppercase }}</span>
								</span>
							</div>

							<div class="d-xl-block d-none mt-1" style="white-space: initial;">
								<div class="d-flex align-items-center h-100">
									<span>
										{{ generateName() }}
									</span>
								</div>
							</div>
						</div>
					</a>

					<div class="dropdown-menu w-100 mt-3" aria-labelledby="dropdownMenuLink">
						<button class="dropdown-item"
								(click)="Logout()">
							{{ 'MENU.LOGOUT' | translate }}
						</button>
					</div>
				</div>
			</div>

		</div>
	</div>



</div>
<!-- end:: Header Topbar -->
