[hidden] {
	display: none !important;
}
mat-label {
	margin-bottom: 10px;
}
strong {
	font-size: 12px;
	font-weight: 500;
}

.lang_section {
	border: 1px solid #ddd;
	padding: 15px;
	margin-bottom: 2em;
}
input:read-only {
	background-color: #dddddd3b !important;
	border: none !important;
}
