<kt-portlet-header [title]="'COMMON.Edit_Button' | translate : {name : content_name}"
				   [icon]="'far fa-edit'"></kt-portlet-header>
<!--Loader-->
<div class="example-container m-auto" *ngIf="isLoadingResults">
	<div class="example-loading-shade mt-5 mb-5">
		<mat-spinner diameter="50" *ngIf="isLoadingResults"></mat-spinner>
	</div>
</div>

<!-- Form-->
<div class="example-container">
	<div class="my-4">
		<kt-auth-notice></kt-auth-notice>
	</div>
	<div *ngIf="!isLoadingResults">

		<div *ngIf="is_result">
			<kt-form [form]="form"></kt-form>

			<div class="col-12 text-center px-3">
				<button type="submit" class="btn btn-success mx-3" (click)="updateForm()">
					{{ 'COMMON.Edit_Button' | translate : {name : content_name} }}
				</button>
			</div>
		</div>
	</div>


</div>

